In [40]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [41]:
df_projeto3 = pd.read_excel('df_projeto3.xlsx')
df_projeto3

,Ano,Trimestre,Estado,Tipo de área,Idade,Acesso à Internet,Tipo de dispositivo,Ocupação/Cargo,Ocupação/Cargo alternativo,Condição de ocupação,Posição no trabalho principal,Posição no trabalho principal alternativa,Categoria do emprego,Rendimento
0,2023,4,11,Urbana,31,1.0,2.0,9311.0,NaN,Ocupado,3.0,5.0,9.0,5000.0
1,2023,4,11,Urbana,30,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023,4,11,Urbana,50,1.0,2.0,3221.0,NaN,Ocupado,1.0,3.0,7.0,3500.0
3,2023,4,11,Urbana,25,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023,4,11,Urbana,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473201,2023,4,53,Urbana,28,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473202,2023,4,53,Urbana,24,1.0,2.0,2211.0,NaN,Ocupado,1.0,1.0,2.0,5000.0
473203,2023,4,53,Urbana,51,1.0,2.0,5221.0,NaN,Ocupado,3.0,5.0,9.0,5000.0
473204,2023,4,53,Urbana,56,1.0,2.0,2341.0,NaN,Ocupado,1.0,3.0,6.0,3500.0
473205,2023,4,53,Urbana,19,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
quantidade_nans = df_projeto3.isna().sum()
print(quantidade_nans)

Ano                                               0
Trimestre                                         0
Estado                                            0
Tipo de área                                      0
Idade                                             0
Acesso à Internet                             27055
Tipo de dispositivo                           27055
Ocupação/Cargo                               267679
Ocupação/Cargo alternativo                   466661
Condição de ocupação                         252048
Posição no trabalho principal                267679
Posição no trabalho principal alternativa    267679
Categoria do emprego                         267679
Rendimento                                   272808
dtype: int64

## Verificando todos os valores atribuidos a uma coluna

In [44]:
estado_unicas = df_projeto3['Estado'].unique()
estado_unicas

array([11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31,
       32, 33, 35, 41, 42, 43, 50, 51, 52, 53], dtype=int64)

In [45]:
tipodearea_unicas = df_projeto3['Tipo de área'].unique()
tipodearea_unicas

array(['Urbana', 'Rural'], dtype=object)

In [46]:
acessointernet_unicas = df_projeto3['Acesso à Internet'].unique()
acessointernet_unicas

array([ 1., nan,  2.])

In [47]:
idade_unicas = df_projeto3['Idade'].unique()
idade_unicas

array([ 31,  30,  50,  25,   3,  35,  72,  55,  34,  36,   1,  33,  46,
        59,  60,  58,  75,  38,  16,  15,  74,  62,  39,  32,   9,  28,
        43,   8,  23,   7,  49,  20,  29,  61,  57,  53,  47,  42,   4,
        73,  18,  12,  41,  17,   6,  63,  66,  27,  81,  69,   5,  13,
        56,  24,  21,  54,  22,   0,  52,  19,  68,  11,  44,  67,  14,
        26,  37,  87,  48,  64,  76,  10,  40,  71,  80,  45,  79,  51,
        84,  65,   2,  82,  89,  83,  90,  77,  78,  70,  93,  98,  85,
       100,  86,  88,  91,  96,  97,  92,  95,  94, 101,  99, 103, 104,
       105, 102, 106, 110, 113, 108, 109, 107], dtype=int64)

In [48]:
ocupacaocargo_unicas = df_projeto3['Ocupação/Cargo'].unique()
ocupacaocargo_unicas

array([9311.,   nan, 3221., 2341., 5141., 7112., 4110., 9112., 8322.,
       9111., 2151., 2631., 3313., 2611., 2310., 2413., 2152., 2261.,
       5221., 8332., 5223., 5230., 1346., 7233., 9334., 5120., 7411.,
       2619., 3411., 5312., 5311., 5153., 7512., 4321., 4120., 8350.,
       3251., 7318., 5414., 7124., 3257., 3334., 1221., 5211., 2330.,
       2354., 2359., 2642., 3142., 7113., 6111., 7231., 6121., 9213.,
       3341., 9211., 3423., 9212., 5413., 9612., 9520., 7126., 7131.,
       7212., 1420., 7536., 7214., 7422., 4212., 9313., 3213., 4229.,
       7523., 2342., 4221.,  412., 5243., 6112., 7115., 4311., 3113.,
       3253., 8331., 1411., 3119., 9629., 1345., 7132., 5163., 2636.,
       2221., 4312., 7522., 4226., 2652., 2411., 5164., 2351., 7531.,
       7511., 7125., 1111., 9122., 2423., 7213., 5142., 3342.,  411.,
       9333., 3123., 9412., 6123., 5222., 5249., 5131., 5322., 9329.,
       5412., 6122., 5212., 3212., 2511., 2320., 9411., 3114., 2211.,
       3343., 1349., 5246., 1330., 5245., 7413., 8219., 4412., 2250.,
       9611., 7123., 3432., 3256., 8342., 4227., 3521., 7534., 3522.,
       8343., 1321., 1342., 3112., 7412., 2421., 1112., 8341., 8113.,
       9321., 3513., 3122., 3355., 5165., 6114., 3255., 2166., 8321.,
       2269., 7122., 7319., 3121., 6210., 2132., 7513., 6225., 3339.,
       8172., 8141., 1211., 1219., 2634., 2142., 2353., 7543., 7119.,
       3115., 8212., 5329.,  210., 9214., 2264., 3431., 7421., 7314.,
       3354., 2262., 1412.,  512., 2622., 7317., 7223., 7313., 3422.,
       9621., 3214., 9215., 2266., 5112., 2654., 2431., 2161., 7533.,
       3332., 8189., 2212., 3311., 1311., 6221., 2512., 8182., 2131.,
       3434., 1324., 3323., 8153., 3322., 9510., 8160., 7544., 5419.,
       2149., 3353., 2141., 3344., 7234., 3412., 2656., 1114., 7121.,
       3413., 4211., 1120., 3514., 5321., 3314., 4223., 7232., 4224.,
       8344., 5242., 8152., 3258., 2635., 1213., 7127., 5244., 3511.,
       3421., 4225., 2432., 4415., 9312., 3352., 1212., 4222., 4411.,
       8181.,  511., 2641., 2522., 7311., 5132., 3359., 7316., 4132.,
       3312., 2352., 5151., 3152., 4323., 3132., 3324., 3211., 7514.,
       4419., 3111., 3118., 7535., 9624., 7221., 5411., 3240., 2265.,
       2651., 7322., 7222., 5113.,  110., 3116., 4131., 3139., 3230.,
       3135., 2144., 2145., 2113., 2519., 5152., 2514., 9121., 9623.,
       8183., 8154., 1439., 2143., 2513., 8122., 2355., 5161., 3512.,
       2434., 2433., 3331., 3117., 3259., 2163., 8142., 4214., 3143.,
       3321., 1222., 8211., 5111., 3141., 7323., 3154., 4322., 7111.,
       9129., 3153., 2632., 2133., 8114., 1323., 7312., 1341., 3131.,
       2424., 9331., 7224., 4313., 3435., 7521., 7315., 4414., 8311.,
       7321., 2643., 1431., 8157., 7515., 2655., 4416., 6130., 8111.,
       9216., 7114., 7532., 8112., 2412., 8132., 5169., 1322., 9332.,
       7516., 3133., 2521., 2356., 8121., 3155., 8131., 6224., 7549.,
       2120., 1312., 3333., 8156., 2529., 7211., 1343., 8143., 8159.,
       4413., 2114., 5241., 8151.,    0., 6129., 1223., 2612., 8171.,
       9622., 2653., 9123., 3222., 2263., 2267., 7541., 2523., 3252.,
       5168., 3315., 2422., 2230., 9613., 8155., 2165., 5162., 2162.,
       3134., 2153., 2146., 8312., 2164., 3433., 7542., 3254., 2659.,
       2633., 2621., 2111., 3151., 2240., 7133.])

In [49]:
ocupacaocargoalternativo_unicas = df_projeto3['Ocupação/Cargo alternativo'].unique()
ocupacaocargoalternativo_unicas

array([  nan, 3257., 6121., 6111., 7422., 2221., 9111., 2341., 8322.,
       6221., 9212., 2330., 5142., 9112., 5243., 7512., 5211., 9216.,
       2262., 7112., 3221., 7115., 5414., 8332., 5221., 2652., 9214.,
       2351., 7212., 4227., 9211., 2611., 3512., 4110., 1213., 2634.,
       9215., 7221., 7131., 9333., 2310., 5311., 3431., 6225., 7319.,
       2144., 8172., 2266., 5230., 9629., 5223., 8321., 2166., 5120.,
       7231., 2211., 2264., 9334., 1111., 8350., 4312., 5132., 5212.,
       5249., 3212., 5411., 6210., 7522., 3521., 4223., 2342., 9313.,
       1323., 1221., 5141., 2131., 2320., 7531., 2421., 2359., 3423.,
       6112., 2212., 2142., 1311., 3332., 5244., 2433., 9329., 5312.,
       2356., 3412., 2635., 6122., 5113., 7234., 9311., 7317., 7119.,
       8160., 6123., 1439., 8331., 7322., 9520., 1212., 5131., 9121.,
       7233., 2261., 2642., 5245., 9122., 3343., 2511., 3255., 1411.,
       1112., 4313., 9412., 7318., 8141., 3251., 1345., 4321., 1120.,
       7513., 9411., 2411., 5153., 4226., 5169., 3322., 1431., 4229.,
       7213., 1219., 2265., 2161., 5246., 3435., 9612., 4225., 2354.,
       3323., 1420., 3511., 7132., 7412., 7411., 3142., 3258., 1346.,
       5165., 3112., 3321., 1412., 2250., 7223., 3211., 2133., 2656.,
       2352., 3115., 3253., 8219., 3411., 1114., 3114., 5413., 7511.,
       8341., 5329., 5322., 3422., 2423., 4222., 7127., 3113., 3313.,
       7222., 7126., 2514., 4214., 3214., 7314., 9623., 3230., 7533.,
       5222., 9321., 5161., 2431., 4120., 2353., 3252., 2643., 2152.,
       3334., 2651., 8153., 3259., 3311., 3513., 1342., 2641., 1321.,
       2355.,  412., 2619., 3213., 7421., 9510., 3341., 4212., 5152.,
       3434., 7514., 3421., 9611., 3432., 9129., 3339., 9332., 4132.,
       2143., 5412., 3111., 4411., 3240., 2424., 3256., 7125., 7121.,
       3312., 5164., 3118., 2636., 2434., 3342., 2512., 2622., 1322.,
       7122., 4311., 7111., 5241., 7113., 2151., 5242., 3354., 7516.,
       5321., 2269., 5419., 2659., 3119., 1349., 4224., 9331., 2413.,
       7536., 2230.,    0., 2655., 2113., 2654., 7232., 7321., 3355.,
       2149.,  511., 2432., 2522., 4415., 7313., 2632., 8182., 2412.,
       3122., 1324., 8343., 3141., 7312., 1223., 4322., 7123., 1211.,
       8211., 4221., 7544., 3514., 6129., 2132., 2633., 1344.,  411.,
       4323., 9213., 3153., 8212., 7549.])

In [50]:
condicaoocupacao_unicas = df_projeto3['Condição de ocupação'].unique()
condicaoocupacao_unicas

array(['Ocupado', nan, 'Desocupado'], dtype=object)

In [51]:
posicaonotrabalhoprincial_unicas = df_projeto3['Posição no trabalho principal'].unique()
posicaonotrabalhoprincial_unicas

array([ 3., nan,  1.,  2.,  4.])

In [52]:
posicaonotrabalhoalternativo_unicas = df_projeto3['Posição no trabalho principal alternativa'].unique()
posicaonotrabalhoalternativo_unicas

array([ 5., nan,  3.,  1.,  2.,  4.,  6.])

In [53]:
categoriaemprego_unicas = df_projeto3['Categoria do emprego'].unique()
categoriaemprego_unicas

array([ 9., nan,  7.,  1.,  4.,  8.,  2.,  6.,  5.,  3., 10.])

In [54]:
rendimento_unicas = df_projeto3['Rendimento'].unique()
rendimento_unicas

array([ 5000.,    nan,  3500., ..., 18700., 10550., 16963.])

# Removendo as colunas que não serão necessarias

In [56]:
df_projeto3 = df_projeto3.drop(columns=[
    'Ano', 
    'Trimestre', 
    'Ocupação/Cargo alternativo',
    'Tipo de dispositivo',
    'Posição no trabalho principal', 
    'Posição no trabalho principal alternativa'
])

In [57]:
type(df_projeto3)

pandas.core.frame.DataFrame

# Renomeando os valores das colunas qualitativas

In [60]:
df_projeto3['Estado'] = df_projeto3['Estado'].astype('category')
df_projeto3['Estado'] = df_projeto3.Estado.cat.rename_categories({11: 'Rondônia', 12: 'Acre', 13: 'Amazonas', 14:'Roraima', 15:'Pará', 16:'Amapá', 17:'Tocantins', 21:'Maranhão', 22:'Piauí',
                                              23: 'Ceará', 24: 'Rio Grande do Norte', 25:'Paraíba', 26:'Pernambuco', 27:'Alagoas', 28:'Sergipe', 29:'Bahia', 31:'Minas Gerais',
                                              32: 'Espírito Santo', 33: 'Rio de Janeiro', 35: 'São Paulo', 41:'Paraná', 42:'Santa Catarina', 43:'Rio Grande do Sul', 50:'Mato Grosso do Sul',
                                              51:'Mato Grosso', 52:'Goiás', 53:'Distrito Federal'})

# df_projeto3['Ocupação/Cargo'] = df_projeto3['Ocupação/Cargo'].astype('category')
# df_projeto3['Ocupação/Cargo'] = df_projeto3['Ocupação/Cargo'].cat.rename_categories({
#     range(1111, 1440): 'Diretores e gerentes',
#     range(2111, 2660): 'Profissionais das ciências e intelectuais',
#     range(3111, 3523): 'Técnicos e profissionais de nível médio',
#     range(4110, 4420): 'Trabalhadores de apoio administrativo',
#     range(5111, 5420): 'Trabalhadores dos serviços, vendedores dos comércios e mercados',
#     range(6111, 6226): 'Trabalhadores qualificados da agropecuária, florestais, da caça e da pesca',
#     range(7111, 7550): 'Trabalhadores qualificados, operários e artesões da construção, das artes mecânicas e outros ofícios',
#     range(8111, 8351): 'Operadores de instalações e máquinas e montadores',
#     range(9111, 9630): 'Ocupações elementares',
#     range(110, 513): 'Membros das forças armadas, policiais e bombeiros militares'
# })

def map_ocupacao(valor):
    if 1111 <= valor <= 1439:
        return 'Diretores e gerentes'
    elif 2111 <= valor <= 2659:
        return 'Profissionais das ciências e intelectuais'
    elif 3111 <= valor <= 3522:
        return 'Técnicos e profissionais de nível médio'
    elif 4110 <= valor <= 4419:
        return 'Trabalhadores de apoio administrativo'
    elif 5111 <= valor <= 5419:
        return 'Trabalhadores dos serviços, vendedores dos comércios e mercados'
    elif 6111 <= valor <= 6225:
        return 'Trabalhadores qualificados da agropecuária, florestais, da caça e da pesca'
    elif 7111 <= valor <= 7549:
        return 'Trabalhadores qualificados, operários e artesões da construção, das artes mecânicas e outros ofícios'
    elif 8111 <= valor <= 8350:
        return 'Operadores de instalações e máquinas e montadores'
    elif 9111 <= valor <= 9629:
        return 'Ocupações elementares'
    elif 110 <= valor <= 512:
        return 'Membros das forças armadas, policiais e bombeiros militares'
    else:
        return 'Categoria desconhecida'
df_projeto3['Ocupação/Cargo'] = df_projeto3['Ocupação/Cargo'].apply(map_ocupacao)

# Convertendo e renomeando a coluna 'Condição de ocupação'
df_projeto3['Condição de ocupação'] = df_projeto3['Condição de ocupação'].astype('category')
df_projeto3['Condição de ocupação'] = df_projeto3['Condição de ocupação'].cat.rename_categories({
    1: 'Ocupado',
    2: 'Desocupado'
})

# Convertendo e renomeando a coluna 'Acesso a internet'
df_projeto3['Acesso à internet'] = df_projeto3['Acesso à internet'].astype('category')
df_projeto3['Acesso à internet'] = df_projeto3['Acesso à internet'].cat.rename_categories({
    1: 'Sim',
    2: 'Não'
})

# Convertendo e renomeando a coluna 'Categoria do emprego'
df_projeto3['Categoria do emprego'] = df_projeto3['Categoria do emprego'].astype('category')
df_projeto3['Categoria do emprego'] = df_projeto3['Categoria do emprego'].cat.rename_categories({
    1: 'Empregado no setor privado com carteira de trabalho assinada',
    2: 'Empregado no setor privado sem carteira de trabalho assinada',
    3: 'Trabalhador doméstico com carteira de trabalho assinada',
    4: 'Trabalhador doméstico sem carteira de trabalho assinada',
    5: 'Empregado no setor público com carteira de trabalho assinada',
    6: 'Empregado no setor público sem carteira de trabalho assinada',
    7: 'Militar e servidor estatutário',
    8: 'Empregador',
    9: 'Conta-própria',
    10: 'Trabalhador familiar auxiliar'
})

TypeError: '<=' not supported between instances of 'int' and 'str'

In [ ]:
df_projeto3

# Tabelas e Gráficos

In [ ]:
df_projeto3 = df_projeto3.dropna(subset=['Acesso à Internet', 'Rendimento', 'Condição de ocupação', 'Tipo de área']) # Retira o NAN

# Análise 1: Tabela Cruzada - Acesso à Internet por Tipo de Área
tabela_cruzada = pd.crosstab(df_projeto3['Tipo de área'], df_projeto3['Acesso à Internet'], normalize='index')
print("\nTabela Cruzada - Acesso à Internet por Tipo de Área:\n", tabela_cruzada)

# Gráfico de barras empilhado
tabela_cruzada.plot (kind='bar', stacked=True, colormap='viridis')
plt.title("Acesso à Internet por Tipo de Área")
plt.ylabel("Proporção")
plt.xlabel("Tipo de Área")
plt.legend(["Sem acesso", "Com acesso"])
plt.title("Acesso à Internet")
plt.show()

# Análise 2: Boxplot - Rendimento por Acesso à Internet 
plt.figure(figsize=(10, 6))
sns.boxplot(data=df_projeto3, x='Acesso à Internet', y='Rendimento', hue='Tipo de área')
plt.title("Rendimento por Acesso à Internet e Tipo de Área")
plt.xlabel("Acesso à Internet")
plt.ylabel("Rendimento")
plt.legend(title="Tipo de Área")
plt.show()

# Análise 3: Histograma - Rendimento por Condição de Ocupação
plt.figure(figsize=(10, 6))
sns.histplot(data=df_projeto3, x='Rendimento', hue='Condição de ocupação', bins=50)
plt.title("Distribuição do Rendimento por Condição de Ocupação")
plt.xlim(0, 20000)
plt.xlabel("Rendimento")
plt.ylabel("Frequência")
plt.show()

# Análise 4: Gráfico de dispersão - Rendimento vs Idade (com Acesso à Internet)
df_internet = df_projeto3[df_projeto3['Acesso à Internet'] == 1.0]
plt.figure(figsize=(10, 6))
plt.scatter(df_internet['Idade'], df_internet['Rendimento'], alpha=0.5)
plt.title("Rendimento vs Idade (Com Acesso à Internet)")
plt.xlabel("Idade")
plt.ylabel("Rendimento")
plt.grid(True)
plt.show()


## Acesso à Internet nas Áreas Urbana e Rural
O primeiro gráfico ilustra que, nas áreas rurais, há uma proporção um pouco maior de pessoas sem acesso à internet em comparação com as áreas urbanas. Essa lacuna de acesso reflete uma barreira inicial: os residentes em áreas rurais enfrentam desafios para participar de atividades digitais que podem melhorar suas perspectivas de emprego e rendimento, especialmente em cenários onde o trabalho remoto está se tornando mais comum.

## Relação entre Rendimento e Acesso à Internet
O segundo gráfico mostra o rendimento por acesso à internet e tipo de área. Podemos observar que as pessoas com acesso à internet, tanto em áreas rurais quanto urbanas, tendem a apresentar maior potencial de rendimento. No entanto, o rendimento médio parece ser visivelmente menor nas áreas rurais, o que sugere que o acesso à internet, embora essencial, não é suficiente para igualar as oportunidades econômicas entre regiões urbanas e rurais. A falta de infraestrutura e suporte pode ser outro fator que limita os ganhos nas áreas rurais.

## Distribuição de Rendimento por Condição de Ocupação
A distribuição de rendimentos entre pessoas ocupadas indica uma grande concentração de indivíduos com rendimentos mais baixos, mas com uma minoria significativa que alcança rendas elevadas. Isso pode indicar a existência de uma divisão entre ocupações que permitem altos rendimentos, como as associadas a trabalho remoto e tecnologia, e outras atividades mais limitadas em termos de remuneração, mais comuns em áreas rurais.

## Rendimento vs. Idade (Com Acesso à Internet)
O último gráfico relaciona rendimento e idade entre os que possuem acesso à internet. Nota-se uma concentração de rendimentos medianos na faixa de 25 a 55 anos, quando a maioria das pessoas está em idade ativa de trabalho. Esse padrão indica que o acesso à internet é essencial em idades economicamente produtivas, mas também aponta que mesmo entre aqueles com acesso, há uma dispersão nos rendimentos, sugerindo a importância de habilidades digitais e qualificação, além do simples acesso.

## Conclusão
Os gráficos sugerem que o acesso à internet, especialmente em áreas rurais, pode ser um divisor de águas para a participação em atividades econômicas mais remuneradas, como o trabalho remoto. No entanto, a infraestrutura digital, por si só, não é suficiente para eliminar as disparidades de renda. São necessários investimentos adicionais em educação digital e infraestrutura para equipar os residentes rurais com as habilidades necessárias para competir em um mercado de trabalho cada vez mais global e digital.

# Método Random Forest

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, classification_report


df_projeto3 = df_projeto3.dropna(subset=['Acesso à Internet']) 


X = df_projeto3.drop(columns=['Acesso à Internet'])
y = df_projeto3['Acesso à Internet']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

categorical_columns = X.select_dtypes(include=['object']).columns
numerical_columns = X.select_dtypes(include=['int64', 'float64']).columns


preprocessor = ColumnTransformer(transformers=[
    ('num', SimpleImputer(strategy='mean'), numerical_columns),
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_columns)
])


rf_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1))
])


rf_pipeline.fit(X_train, y_train)


y_pred = rf_pipeline.predict(X_test)


print("Acurácia:", accuracy_score(y_test, y_pred))
print("\nRelatório de Classificação:\n", classification_report(y_test, y_pred))

# Gráfico de Curva ROC

In [ ]:
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt


if set(y_test.unique()) != {0, 1}:
    
    y_test_binario = y_test.map({1.0: 0, 2.0: 1})  
else:
    y_test_binario = y_test 


probs_previstos = rf_pipeline.predict_proba(X_test)[:, 1]


falsos_positivos, verdadeiros_positivos, limiares = roc_curve(y_test_binario, probs_previstos)


area_sob_curva = auc(falsos_positivos, verdadeiros_positivos)


plt.figure(figsize=(8, 6))
plt.plot(
    falsos_positivos, verdadeiros_positivos, 
    label=f'Curva ROC (AUC = {area_sob_curva:.2f})', 
    color='blue', linewidth=2
)
plt.plot([0, 1], [0, 1], 'k--', label='Modelo Aleatório', linewidth=1)  
plt.title('Curva ROC - Classificador Random Forest', fontsize=14)
plt.xlabel('Taxa de Falsos Positivos (FPR)', fontsize=12)
plt.ylabel('Taxa de Verdadeiros Positivos (TPR)', fontsize=12)
plt.legend(loc='lower right', fontsize=10)
plt.grid(alpha=0.3)
plt.show()